name: voice_banking
description: A voice banking app.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.19.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_sound: ^9.2.13
  permission_handler: ^9.2.0
  assets_audio_player: ^3.0.6
  flutter_bloc: ^8.1.1
  auto_route: ^5.0.2
  path_provider: ^2.0.14

  alpha: 0.0.1
  backend_integration: 0.0.1
  network: 0.0.1
  storage: 0.0.1
  syncfusion_flutter_datepicker: 20.4.42
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  build_runner: ^2.2.0
  auto_route_generator: ^5.0.2

flutter:
  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
